**/bin/
**/obj/
.vs/
.idea/
.local/
TestResults/
*.user
*.suo
*.mdf
*.ldf
*.bak
*.trn
.env
**/appsettings.Local.json
**/appsettings.*.local.json
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
*.log
